@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "raleway";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}
/*page*/
html, body {
  background: linear-gradient(180deg, #0E1C25 28%, #2E5958 100%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "roboto";
  color: #F5FFFC;
}

button {
  font-family: "roboto";
  color: #F5FFFC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
* ul, * ol {
  padding: 0;
}

#root {
  height: 100%;
}
#root .app {
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 0;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
header .elementUser {
  display: flex;
  height: 100px;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}
header .elementUser img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #000;
  margin-right: 15px;
}
header .elementUser p {
  height: 20px;
  font-size: 16px;
}
@media screen and (max-width: 700px) {
  header .elementUser p {
    display: none;
  }
}
header .logo {
  width: 150px;
  height: 150px;
  margin-top: 30px;
}
@media screen and (max-width: 700px) {
  header .logo {
    width: 100px;
    height: 100px;
  }
}
header .light_logo {
  width: 106px;
  height: 106px;
  margin-top: 30px;
}
@media screen and (max-width: 700px) {
  header .light_logo {
    width: 70px;
    height: 70px;
  }
}
header .rulesButton {
  background: none;
  border: none;
  height: 100px;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  header .rulesButton .txtButton {
    display: none;
  }
}
header .iconRules {
  color: #00A870;
  font-size: 18px;
  margin-right: 10px;
}
@media screen and (max-width: 700px) {
  header .iconRules {
    font-size: 24px;
  }
}
header .rules-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.747);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
header .rules-popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
header .hidden {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1C3635;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
}
@media screen and (max-width: 870px) {
  footer {
    height: auto;
    line-height: 20px;
  }
}

.divFooter {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  align-items: center;
}
@media screen and (max-width: 870px) {
  .divFooter {
    font-size: 12px;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
}
.divFooter .negativeButton {
  width: 180px;
  height: 35px;
  border-radius: 10px;
  background: #B10E1D;
  border: 0;
  font-size: 16px;
  color: #F5FFFC;
  font-weight: 700;
  cursor: pointer;
}

.carousel {
  position: relative;
  width: 100%;
}

.slides-container {
  position: relative;
  width: 80%;
  margin: auto;
}

.slide {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

.imgRules {
  width: 100%;
  height: auto;
  max-width: 900px;
  border-radius: 20px;
}

.textRules {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 25px;
}

.indicators-container {
  text-align: center;
}

.indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #F5FFFC;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #00A870;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.titleSlides {
  height: 50px;
  text-align: center;
  font-family: "raleway";
}

.welcome {
  margin-bottom: 0;
  padding-bottom: 4em;
}
.welcome h2 {
  font-size: 22px;
  font-family: "raleway";
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: center;
}
.welcome .textField {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}
.welcome .label {
  display: flex;
  width: auto;
  height: auto;
  padding-right: 27px;
  align-items: center;
  flex-shrink: 0;
}
.welcome .inputText {
  border-radius: 10px;
  background: #e9e9e9;
  width: 363px;
  height: 35px;
  flex-shrink: 0;
}
.welcome .btnContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.welcome .login form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.welcome .forgotpassword form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.welcome .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.747);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.welcome .modal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.welcome .modal .hidden {
  display: none;
}
.welcome .primaryButton {
  width: 180px;
  height: 35px;
  border-radius: 10px;
  background: #00A870;
  border: 0;
  font-size: 16px;
  color: #F5FFFC;
  font-weight: 700;
  cursor: pointer;
}
.welcome .secondaryButton {
  width: 180px;
  height: 35px;
  border-radius: 10px;
  background: none;
  border: 2px solid #F5FFFC;
  font-size: 16px;
  color: #F5FFFC;
  font-weight: 700;
  cursor: pointer;
}
.welcome .linkButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #F5FFFC;
  font-size: 16px;
  font-weight: 400;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 1;
}
.join .arrow {
  position: absolute;
  left: 20px;
  font-size: 22px;
  cursor: pointer;
  background-color: unset;
  border: none;
}
.join .formJoin {
  text-align: center;
  margin-top: 30px;
}
.join h2 {
  font-family: "raleway";
  height: 200px;
  line-height: 150px;
}
.join form {
  display: flex;
  flex-direction: column;
}
.join form .codeRoom {
  width: 354px;
  height: 52px;
  border-radius: 10px;
  background: #F5FFFC;
  color: #1C3635;
  font-size: 16px;
  padding: 8px;
  text-align: center;
  margin-bottom: 20px;
}
.join form .codeRoom:focus-visible {
  outline: none;
}
.join form .error {
  border: 2px solid #B10E1D;
}
.join form button {
  width: 354px;
  height: 52px;
  border-radius: 10px;
  background: #00A870;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

.errorForm {
  color: #F5FFFC;
  text-align: center;
  padding-top: 10px;
}

.party {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 96%;
  margin: auto;
  margin-bottom: 0;
  padding-bottom: 4em;
}

.card {
  width: 100px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-color: #F5FFFC; /* Fond blanc */
}

.drawCard, .discardCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.drawCard {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 70px; /* Taille du logo */
  height: 70px;
}

.type {
  margin-top: 15px; /* Espace au-dessus du type de carte */
  color: #1C3635;
}

.img-bottom {
  position: absolute;
  bottom: 0; /* Espacement au bas de la carte */
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%);
  width: 90px; /* Taille de l'image en bas de la carte */
  height: 90px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.popup p {
  height: 70px;
  line-height: 70px;
  font-family: "raleway";
  font-size: 18px;
}

.closeCard {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.racetrack, .playerChat {
  display: flex;
  align-self: stretch;
}

.track {
  width: 650px;
  height: 640px;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
}
.track::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0);
}
.track::-webkit-scrollbar {
  width: 6px;
  background-color: #1C3635;
  border-radius: 5px;
}
.track::-webkit-scrollbar-thumb {
  background-color: #F5FFFC;
  border-radius: 5px;
}

.stage {
  position: relative;
  background-color: #F8CC46;
  width: 542px;
  height: 120px;
  border-bottom: 2px solid #1C3635;
  display: flex;
  justify-content: space-around;
  align-items: end;
  float: right;
}
.stage img {
  width: 90px;
  height: 90px;
}
.stage .finish-line {
  background-size: cover;
  background-repeat: no-repeat;
  height: 20px;
  width: 100%;
  border: 2px solid #1C3635;
}
.stage .cardInconvenient {
  width: 85px;
  height: 110px;
  background-color: #F5FFFC;
  position: absolute;
  left: -95px;
  bottom: 5px;
  border-radius: 5px;
}

#position0 {
  border-bottom: 0;
}

.pari {
  background-color: #00A870;
  width: 100%;
  border-radius: 20px;
  height: 180px;
  overflow-y: scroll;
}
.pari::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0);
}
.pari::-webkit-scrollbar {
  width: 6px;
  background-color: #1C3635;
  border-radius: 5px;
}
.pari::-webkit-scrollbar-thumb {
  background-color: #F5FFFC;
  border-radius: 5px;
}
.pari table {
  width: 100%;
  border-collapse: collapse;
}
.pari table caption {
  height: 36px;
  line-height: 30px;
}
.pari table th, .pari table td {
  height: 35px;
  font-size: 16px;
  text-align: center;
  font-weight: 100;
  border-right: 1px solid #F5FFFC;
}
.pari table .tdHorse {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.pari table .pHorse {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
}

.playerChat {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.playerChat h2 {
  position: absolute;
  font-size: 20px;
  font-family: "raleway";
}
.playerChat .titleBet {
  top: 164px;
  right: 120px;
}

/*# sourceMappingURL=style.css.map */
