.party {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 96%;
    margin: auto;
    margin-bottom: 0;
    padding-bottom: 4em;
}

@import '../composants/card';
@import '../composants/racetrack';
@import '../composants/chat';
